/* Body */

body {
    background-color: #000000;
}

/* Text */

#zooTitle {
    margin-top: 3rem;
    text-align: center;
    font-size: 4em;
    color: #ffffff;
}

/* Animals Card */
#animalsline1 .card {
    max-height: 55%;
    background-color: #ffffff;
    border-color: black;
    margin-top: 10%;
}

#animalsline2 .card {
    max-height: 60%;
    background-color: #ffffff;
    border-color: black;
    margin-top: 10%;
}

#animalsline3 .card {
    max-height: 65%;
    background-color: #ffffff;
    border-color: black;
    margin-top: 10%;
}

#animalsline1 {
    background-color: rgba(27, 27, 27, 0.6);
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#animalsline2 {
    background-color: rgba(27, 27, 27, 0.6);
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#animalsline3 {
    background-color: rgba(27, 27, 27, 0.6);
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


#animalsline1, #animalsline2, #animalsline3{
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
#animalsline1.show, #animalsline2.show, #animalsline3.show {
    opacity: 1;
    transform: translateY(0);
  }

/* Animals Card Images */

.card-img-top {
    min-height: 200px;
    max-height: 200px;
    width: 100%;
}

/* Footer */

footer {
    background-color: #000435;
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}

/* Footer Cards*/

.footer-container {
    display: flex;
    justify-content: space-around;
}

footer .card {
    width: 350px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0);
}

.card-body {
    padding: 20px;
}

footer .card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    margin: 5px 0;
}

.card a {
    color: #3888ff;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* Navbar Configuartions */

.nav-link {
    color: white !important;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-item {
    width: 23%;
    text-align: center;
    white-space: nowrap;
}


.dropdown-menu {
    margin: 35%;
    min-width: auto;
}

.dropdown-item {
    width: auto;
    white-space: nowrap;
}